body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    padding: 20px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

#dia-atual {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: bold;
}

button {
    padding: 10px 18px;
    margin: 10px;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    background: black;
    color: white;
    font-size: 16px;
    transition: 0.2s;
}

button:hover {
    background: #444;
}

#conteudo {
    margin-top: 20px;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
}
.card {
    background: #ffffff;
    padding: 12px;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

.email-btn {
    display: inline-block;
    margin-top: 8px;
    padding: 6px 12px;
    background: #007bff;
    color: white;
    border-radius: 6px;
    text-decoration: none;
    transition: 0.2s;
}

.email-btn:hover {
    background: #0056b3;
}
